.container {
    padding:0;
    margin-bottom: 5px;
}
.containerOpen{
    
}
.input{

}
.inputOpen{

}
.inputDisabled {
    pointer-events: none;
    background-color: #eee;
}
.inputFocused {
}
.suggestionsContainer {
}
.suggestionsContainerOpen{

}
.suggestionsList {
    padding: 0 5px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 90%;
    background-color: #666;
}
   
.suggestion {
    list-style: none;
    padding-left: 10px;
    border-bottom: 1px solid#eee;
    background-color: #eaeaea;
}
    .suggestion:hover{
        background-color: #999;
    }
    .suggestion[aria-selected="true"] {
        background-color: white;
        color:cornflowerblue;
    }
    
.suggestionFirst{

}
.suggestionHighlighted{

}
.sectionContainer{

}
.sectionContainerFirst{

}
.sectionTitle{

}
