#searchpage-logo {
    width: 250px;
    height: 250px;
    margin: auto auto;
    display: block;
    display: flex;
    align-self: center;
    opacity: 0.2;
    animation: searchpage-logo-anim 2s infinite ease-in-out;
}

.coachSearchRow {
    margin: 10px auto;
    box-shadow: 1px 0px 11px -3px #eee;
    border: 1px solid #eaeaea;
    padding: 5px;
}

    .coachSearchRow:hover {
        background-color: #eaeaea;
    }

.logoRatingArea {
    margin: auto;
}

.coachImageLogoContainer {
    /*padding: 0 5%;*/
}

.coachImageLogo {
    margin: auto;
}
/*.coachInfoBox {
    border: none;
    box-shadow: none;
    height: 100%;
    background-color: none;
}*/

.coachName {
    font-size: 19px;
    margin-bottom: 4px;
}

.coachAddress {
    font-size: 12px;
    color: gray;
    text-decoration: underline;
}

.coachRatingText {
    font-size: 12px;
}

.coachRating {
    color: yellow;
    background-color: yellow;
    width: 100%;
    height: 5px
}

    .coachRating::-webkit-progress-value {
        background: yellow;
    }

    .coachRating::-moz-progress-bar {
        background: yellow;
    }

.facilitiesTitle {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #666;
}

.allCoachIcons {
}

.smallCoachIconContainer {
    display: inline-table;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.smallCoachIcon {
    margin: 7px 5px;
    height: 25px;
    width: 25px;
}

.coachIconContainer {
    display: inline-table;
    width: 120px;
    height: auto;
    vertical-align: middle;
    margin: 5px 2px;
    background: beige;
}

.coachIcon {
    color: green;
    display: table-cell;
    vertical-align: middle;
    width: 30px;
}

.coachIconLabel {
    color: #444;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.seeMoreToggle {
    text-align: center;
    padding: 15px 0;
}

.moreInfoArea {
    padding: 10px;
}

.aboutCoachTitle {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--blue);
}

.aboutCoach {
    padding-top: 40px;
    padding-bottom: 20px;
}

.socialIconsContainer {
    display: inline-table;
}

.socialIcon {
    max-width: 30px;
    margin: 5px 5px;
}

.adminCoachToggle {
    margin-right: 5px;
}

    .adminCoachToggle.react-toggle--checked .react-toggle-track {
        background-color: var(--blue);
    }

.adminCoachToggleLabel {
    margin: 0 5px 0 0;
    display: inline-flex;
    background-color: #eee;
    padding: 4px;
    border-radius: 15px;
}
/*.coachImage{
    background-position:center;
    background-size:cover;
    width:300px;
    height: 150px;
}*/

.forCoaches-sections {
    padding-top: 45px;
    padding-bottom: 45px;
}

@media (max-width: 767px) {
    .coachIconContainer {
        width: calc((100vw / 3) - 20px);
    }
    /*.coachImage {
        width: calc((100vw / 3) - 10px);
        height: calc(((100vw / 3) - 10px) / 2);
    }*/
    .coachInfoBox {
        border: 1px solid rgba(0, 119, 216, 0.09);
        border-radius: 6px;
        box-shadow: 1px 0px 11px -3px #eee;
        height: 100%;
        background-color: rgb(249, 249, 249);
    }

    .coachSearchRow {
        margin: 0;
        box-shadow: none;
        border: none;
        padding: 35px 10px;
    }
}

@keyframes searchpage-logo-anim {
    50% {
        opacity: 0.2
    }

    75% {
        opacity: 0.3
    }

    100% {
        opacity: 0.2
    }
}