
#addCoachWholePage .searchInput {
    margin: 5px 0px;
}
.addCoachImageContainer {
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 4px;
    height: 160px;
    width: 160px;
    margin: auto;
    margin-top: 5px;
    background-color: #f1f1f1;
    display:flex;
}
.imgBrowseLabel {
    text-align: left;
    width: 150px;
    margin: auto;
    display: block;
}
.imgBrowseLabel button {
    padding: 1px 10px;
    margin-right: 5px;
}
.logoImage {
    height: 150px;
    width: 150px;
}
.addCoachImage {
    max-height: 150px;
    margin: auto;
    display: block;
}
.imgSelectInput{
    width: 0;
}
.addCoachCheckBoxArea {
    display: table-cell;
    margin: 4px;
    background-color: #eee;
    padding: 7px 15px 0px;
    border-radius: 25px;
}
    .addCoachCheckBoxArea:hover {
        cursor: pointer;
        box-shadow: rgba(0,0,0,0.4) 0px 0px 22px 4px inset;
        transition: box-shadow 250ms;
    }
    .addCoachCheckBoxArea input[type=checkbox] {
        display: none;
    }
    .addCoachCheckBoxArea input:hover, .addCoachCheckBoxArea label:hover{
        cursor: pointer;
    }
    .addCoachCheckBoxAreaChecked {
        background-color: #444;
        color: white;
    }
    /*.addCoachCheckBoxAreaChecked:hover {
        background-color: #eaeaea;
        color: #444;
        transition: color 250ms;
    }*/

@media (max-width: 767px) {
    .addCoachImageContainer {
        width: 90%;
    }
    .addCoachImageContainerLogo {
        width: 160px;
    }
}