.featuredItemHomeContainer {
    width: 100%;
}

.featuredItemHomeSingleContainer {
    margin: 2px;
    border: 1px solid rgb(214, 214, 214);
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

    .featuredItemHomeSingleContainer:hover {
        border: 1px solid var(--blue);
        transition: border 200ms;
        cursor: pointer;
    }